<!-- ToDo  -->
<!-- 1. Add refresh button to Dnat and PortFwd  -->
<!-- 2. Add enable internet cnnection button  -->

<!DOCTYPE html>
<html>
<head>
    <title>Cloud Gateway</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"  crossorigin="anonymous"></script>

    <script type="text/javascript">
   
      $(document).ready(function() {
        // Add button for dnat
        $(document).on('click', '.dnats-add', function(event) {
          $row = $(this).closest('tr').add();
          $ori_ip = $row.find("td:nth-child(1)").children("input").val();
          $real_ip = $row.find("td:nth-child(2)").children("input").val();
          var len = $('#dnats').length;
          
          $.ajax({
               type: "POST",
               url: "/dnat",
               data: {ori_ip:$ori_ip, real_ip:$real_ip},
               success: function (data){
                  if(data["desc"] == "succ")
                    $('#dnats tbody:last').prepend('<tr><td>'+ $ori_ip +'</td><td>'+ $real_ip +'</td><td><button class="btn btn-danger btn-sm dnats-delete"><span class="glyphicon glyphicon-trash"></span></button></td> </tr>');
                  else
                    alert(data["reason"]);
               }
          });
        });
  
        // Add button for port forwarding
        $(document).on('click', '.port-fwds-add', function(event) {
          $row = $(this).closest('tr').add();
          $dport = $row.find("td:nth-child(1)").children("input").val();
          $dst = $row.find("td:nth-child(2)").children("input").val();


          $protocol = $("#port-fwd-proto-add-btn-group > button.active").text();
          $protocol == "TCP" ? $btn_state = "btn-warning" : $btn_state = "btn-success";

          $('#port-fwds tbody:last').prepend('<tr><td>'+ $dport +'</td><td>'+ $dst +'</td><td><button type="button" class="btn btn-sm ' + $btn_state + ' disabled">' + $protocol + '</button></td><td><button class="btn btn-danger btn-sm port-fwds-delete"><span class="glyphicon glyphicon-trash"></span></button></td> </tr>')  

          $.ajax({
            type: "POST",
            url: "/port_fwd",
            data: {dport:$dport, dst:$dst, protocol: $protocol},
            success: function (data){
              if(data["desc"] == "succ")
                $('#port-fwds tbody:last').prepend('<tr><td>'+ $dport +'</td><td>'+ $dst +'</td><td><button type="button" class="btn btn-sm ' + $btn_state + ' disabled">' + $protocol + '</button></td><td><button class="btn btn-danger btn-sm port-fwds-delete"><span class="glyphicon glyphicon-trash"></span></button></td> </tr>');
              else
                alert(data["reason"]);
            }
          });
        });

        // Delete button for dnats
        $(document).on('click', '.dnats-delete',function(event) {
            $row = $(this).closest('tr').remove();
            $ori_ip = $row.find("td:nth-child(1)").text();
            $real_ip = $row.find("td:nth-child(2)").text();
            $.ajax({
                 type: "DELETE",
                 url: "/dnat",
                 data: {ori_ip:$ori_ip, real_ip:$real_ip}
            });  
        });

        // Delete button for dnats
        $(document).on('click', '.port-fwds-delete', function(event) {
            $row = $(this).closest('tr').remove();
            $dport = $row.find("td:nth-child(1)").text();
            $dst = $row.find("td:nth-child(2)").text();
            $protocol = $row.find("td:nth-child(3) > button.disabled").text();
            $.ajax({
                 type: "DELETE",
                 url: "/port_fwd",
                 data: {dport:$dport, dst:$dst, protocol:$protocol}
            });  
        });

        // Toggle Internet Button
        $('.toggle-internet').click( function() {
           $flag = $(this).attr("value");
           $(this).toggleClass('btn-danger').toggleClass('btn-success');
           $.ajax({
              type: "POST",
              url : "/internet_connection",
              data: {flag:$flag}
           });
           $flag == "True" ? $(this).val("False") : $(this).val("True");
        });
        
        // Protocol Toggle
        $('.toggle-protocol').click(function() { 
           $(this).siblings().toggleClass("active");
           $(this).toggleClass("active");
        });

      });      

    </script>
    <style>
  	.btn:focus { outline: none !important; }
    </style>
</head>
<body>
  <div class="container">
  <div class="row">
        <h2 class="col-lg-12 col-md-12"><span class="glyphicon glyphicon-cloud"></span> Cloud Gateway <label class="label label-info">iptables</label>

    <button value={{ internet_state }} class="btn btn-lg
    {% if internet_state == "OFF" %}
      {{ "btn-danger" }}
    {% elif internet_state == "ON" %}
      {{ "btn-success" }}
    {% endif %}
    toggle-internet pull-right">Internet</button>
  </h2> 

  </div>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <h3><span class="glyphicon glyphicon-list-alt"></span> Destination NATs</h3>    
                <div class="table-responsive">
                    <table id="dnats" class="table table-striped table-bordered table-condensed">
                            <thead>
                               <tr> 
                                   <!-- <th>#</th>  -->
                                   <th>Original Ip Address</th> 
                                   <th>Real Ip Address</th> 
                                   <th><center><span class="glyphicon glyphicon-cog"></span></center></th> 
                               </tr> 
                            </thead>

                            <tbody>
                               {% for row in dnats %} 
                               <tr> 
                                <!-- <td>{{ row.index }}</td>  -->
                                <td>{{ row[0] }}</td> 
                                <td>{{ row[1] }} {{ row[2] }}</td>
                                <td>
                                  <button class="btn btn-danger btn-sm dnats-delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                  </button>
                                </td>  
                               </tr>
                               {% endfor %}               

                               <tr> 
                                   <!-- <td>2</td> -->
                                       <td><input type="text" value="ori_ip" name="ori_ip" class="form-control" placeholder="0.0.0.0"></input></td> 
                                       <td><input type="text" value="real_ip" name="real_ip" class="form-control" placeholder="0.0.0.0"></input></td> 
                                       <td><button class="btn btn-primary btn-sm dnats-add" type="submit"><span class="glyphicon glyphicon-plus"></span></button></td> 
                               </tr>         
                            </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7 col-lg-7">
                <h3><span class="glyphicon glyphicon-list-alt"></span> Port Forwarding</h3>    
                <div class="table-responsive">
                    <table id="port-fwds" class="table table-striped table-bordered table-condensed">
                            <thead>
                               <tr> 
                                   <!-- <th>#</th>  -->
                                   <th>Destination Port</th> 
                                   <th>Dedicated Server Ip</th> 
                                   <th>Protocol</th> 
                                   <th><center><span class="glyphicon glyphicon-cog"></span></center></th> 
                               </tr> 
                            </thead>
                            <tbody>
                               {% for row in port_fwds %} 
                               <tr> 
                                   <!-- <td>{{ row.index }}</td>  -->
                                   <td>{{ row[0] }}</td> 
                                   <td>{{ row[1] }}</td>
           <td>
          <button type="button" class="btn 
          {% if row[2] == "TCP" %}
            {{ "btn-warning" }}
          {% elif row[2] == "UDP" %}
            {{ "btn-success" }}
          {% endif %} disabled btn-sm"> {{ row[2] }} </button> 
           </td>
                                   <td><button class="btn btn-danger btn-sm port-fwds-delete"><span class="glyphicon glyphicon-trash"></span></button></td>  
                               </tr>
                               {% endfor %}               
                               <tr> 
                                   <!-- <td>2</td> -->
                                       <td><input type="text" value="80" name="dport" class="form-control" placeholder="80"></input></td> 
                                       <td><input type="text" value="10.0.1.24" name="dst" class="form-control" placeholder="0.0.0.0"></input></td> 
               <td>
          <div class="btn-group btn-group-sm" id="port-fwd-proto-add-btn-group" role="group">
            <button type="button" class="btn btn-warning active toggle-protocol">TCP</button>
            <button type="button" class="btn btn-success toggle-protocol">UDP</button>
          </div>
               </td>
                                       <td><button class="btn btn-primary btn-sm port-fwds-add" type="submit"><span class="glyphicon glyphicon-plus"></span></button></td> 
                               </tr>         
                            </tbody>
                    </table>
            </div>
        </div>
    </div>

    <footer class="footer" style="position:absolute;bottom:0;background-color:#f5f5f5">
  <div class="container">
  <ul class="nav nav-pills pull-right">
    <li><a href="">About</a></li>
    <li><a href="">Manual</a></li>
    <li><a href="">Git</a></li>
    <li><a href="">License</a></li>
  </ul>
  </div>
    </footer>  
</body>

</html>
